{% extends 'bill/base.html' %}
{% load static %}
{% load bootstrap4 django_tables2 %}
{% block content %}


    {% for table in tables %}
    <div class="row">
    {% if forloop.counter == 1 %}
        <div class="col-md-6" >

            <div class="card">
                <div class="card-title"> <h5> Chiffre d'affaire des clients </h5></div>
             {% render_table table %}

            </div>
        <br/>

        </div>
        <div class="col-md-6">
        <div class="card">
            {{ line_chart.as_html }}
        </div>

        </div>
        <br/>
        <hr/>
        {% else %}
         <div class="col-md-6" >

            <div class="card">
                <div class="card-title"> <h5> Chiffre d'affaire des fournisseurs</h5></div>
             {% render_table table %}

            </div>

        </div>
        <div class="col-md-6">
        <div class="card">
             {{ radar_chart.as_html }}
        </div>

        </div>
        {% endif %}

    </div>
     {% endfor %}




<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

{% endblock %}