{% extends 'bill/base.html' %}
    {% load bootstrap4 django_tables2 %}
	{% bootstrap_css %}         {# Embed Bootstrap CSS #}
	{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% block content %}
  <h2>Table des produits</h2>
  <br><br>
  <!-- on affiche un bouton pour ajouter un nouveau produit -->
  <a href="{% url 'produit_create' fournisseur_pk=object.id%}" class="btn btn-primary">Ajouter produit</a>
  <br><br>
  <div class="col-lg-6">
  <!-- on affiche les produits -->
	{% render_table table %}
  </div>
  {% endblock %}