{% extends "bill/base.html" %}
 {% load bootstrap4 django_tables2 %}
	{% bootstrap_css %}         {# Embed Bootstrap CSS #}
	{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% block content %}
{% if filter %}
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'filter' %}
    </form>
{% endif %}
    <br/>
<form action="{% url 'create_panier' %}" method="post">
{% csrf_token %}
{% render_table table 'django_tables2/bootstrap.html' %}

  <input type="submit" class="btn btn-primary"/>
</form>
{% endblock %}